apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudbuilders
  labels:
    app: cloudbuilders
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cloudbuilders
  template:
    metadata:
      labels:
        app: cloudbuilders
    spec:
      containers:
        - name: cloudbuilders
          image: tuusuario/cloudbuilders:latest # <-- cambia esto por tu imagen
          ports:
            - containerPort: 8080
          env:
            - name: PORT
              value: "8080"
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 20
